nav#globalNav
	a(href="/")= __('Overboard')
	| &nbsp;
	a(href="/_")= __('Underboard')
	- if (user && user.reg)
		| &nbsp;
		a(href="/_/logout")= __('Logout')
- if (user && user.reg)
	div.h1= __('Hello %%',user.screenname||__('Anonymous (logged in)'))
- else 
	div.h1= __('Hello Anonymous')