extends layout

block head
	+style('catalog.css')
	+style('newPost.css')

block header
	include partials/newPost

block main
	- var i = -1
	- while (++i >= 0 && i < data.length)
		article.thread(id="_"+data[i].op)
			div.media
				- var classtype = data[i].thumb===null?'missing': data[i].deleted?'deleted': data[i].nsfw?'spoiler': '';
				a.file(class=classtype, href="/"+board.board+"/"+data[i].op)
					- if (data[i].thumb === null)
						img(src=CDN+board.missingimg,alt=__("No image available"))
					- else if (!data[i].deleted)
						- if (data[i].nsfw)
							img.nsfw(src=CDN+board.spoilerimg,alt=__("Image is spoilered"))
						img(src=CDN+data[i].thumb,alt=__("Thumbnail"))
					- else 
						img(src=CDN+board.deletedimg,alt=__("Image is deleted"))
			span.meta
				span.replies(title=__("Replies"))= data[i].replies
				span.images(title=__("Images"))= data[i].images
				span.page(title=__("Current Page"))= data[i].page
			- if (data[i].subject !== null)
				span.subject= data[i].subject
			div.content!= data[i].markup