include partials/globalMixins
	
mixin disallowIFRAME
	script(nonce=INLINEHASH+'0').
		if (window.top != window.self || (frameElement in window && window.frameElement != null)) {
		//	window.top.location.href = window.self.location.href;
		}

doctype html
//- TODO Implement i8ln and replace with valid lang use
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title= META.title||SITE.name||""
		meta(name="application-name", content='Tauchan Imageboard')
		meta(name="description", content=META.desc||SITE.desc||"")
		meta(name="keywords", content=(SITE.keywords||[]).concat(META.keywords||[]).join(','))
		meta(name="robots", content="index,nofollow,noarchive,nocache,noimageindex")
		meta(name="referrer", content="no-referrer-when-downgrade")
		meta(name="PAGE", 
			data-board=board?board.board:'_', 
			data-type=page&&page.type?page.type:'', 
			data-current=page&&page.param?page.param:'',
			data-CDN=CDN)
		if (!ALLOWIFRAME)
			+disallowIFRAME
		- if (CLIENTDEPS)
			each dep in CLIENTDEPS 
				- if (dep.endsWith('.css'))
					link.dependency(rel="stylesheet", charset="utf-8", type="text/css", href=dep)
				- else 
					script.dependency(type="application/javascript", charset="utf-8", data-src=dep)
		script(src="/_/init.js")
		block head
	body
		header
			include partials/headerNav
			block header
		nav
			block nav
		main#top
			block main
				block content
		nav
			block nav
		footer#bottom
			block footer
			p= __('This page layout request was completed in: %%ms',NOW *-1 + Date.now())
		input#globalCSRF(type="hidden",name="_csrf",value=CSRF,form="")
		input#nonce(type="hidden",value=INLINEHASH,disabled=true)
