extends layout

block main
	form(id="login",method="POST",action="/_/login",enctype="application/x-www-form-urlencoded")
		+CSRF
		+ERR(__('The username or passphrase provided was incorrect.'))
		label= __('Username')
			input(name="username",type="text",placeholder=__("Username"),value=(data&&data.username?data.username:''))
		label= __('Passphrase')
			input(name="passphrase",type="password",placeholder=__("Passphrase"))
		label= __('Remember Me')
			input(name="rememberme",type="checkbox",checked=false)
		input(type="submit",value=__("Login"))
		div
			a(href="/_/signup")= __('Signup')