extends layout

mixin overnav
	nav
		- if (curpage>2)
			a.home(href="/?"+(nsfw!="NULL"?"nsfw="+nsfw:"")+(tags?"&tags="+tags:"")) First
		- if (curpage>1)
			a.prev(href="/?page="+(curpage-1)+(nsfw!="NULL"?"&nsfw="+nsfw:"")+(tags?"&tags="+tags:"")) Prev
		- if (curpage>2)
			a.home(href="/") Home
		- if ((curpage-1)*50+data.length<totalboards)
			a.next(href="/?page="+(curpage+1)+(nsfw!="NULL"?"&nsfw="+nsfw:"")+(tags?"&tags="+tags:"")) Next
		- if (totalboards > 0)
			aside #{(curpage-1)*50+1}-#{(curpage-1)*50+data.length} of #{totalboards} matching boards found	

block head
	+stylesheet('overboard')

block header
	h1 #{SITE.name}
	
block footer
	h4 Footer Placeholder

block content
	div#tags
		form#tagsearch(method="GET",action="")
			input(type="text",name="tags",list="taglist",placeholder="search,+tags,-here",pattern="^ *[+-]?[a-zA-Z0-9_]+ *(?:, *[+-]?[a-zA-Z0-9_]+ *)*$",value="#{tags||''}")
			div 
				label Either
					input(type="radio",name="nsfw",value="NULL",checked=(nsfw==="NULL"?true:false))
				label SFW
					input(type="radio",name="nsfw",value="FALSE",checked=(nsfw==="FALSE"?true:false))
				label NSFW
					input(type="radio",name="nsfw",value="TRUE",checked=(nsfw==="TRUE"?true:false))
			input(type="submit",value="Search")
			datalist#taglist
				- each t in taglist
					option(value=t.tag)
		fieldset#cloud
			legend Tag Cloud
			- var i = -1
			- var c = cloud.slice(0,taglimit)
			- while (++i < c.length)
				- if (i<1)
					h2: a(href="/?tags=#{cloud[i].tag}") #{cloud[i].tag}
				- else if (i<c.length/3)
					h3: a(href="/?tags=#{cloud[i].tag}") #{cloud[i].tag}
				- else if (i<c.length/2)
					h4: a(href="/?tags=#{cloud[i].tag}") #{cloud[i].tag}
				- else
					h5: a(href="/?tags=#{cloud[i].tag}") #{cloud[i].tag}
	div#boardlist
		+overnav
		- if (data.length)
			table
				tr
					th Board
					th Title
					th Description
					th NSFW
					th Tags
					th(title="Posts Per Hour") PPH
					th(title="Active Users") AU
					th(title="Post Count") PC
				- each item in data
					tr
						td.board
							a(href="/#{item.board}/") #{item.board}
						td.title #{item.title}
						td.desc #{item.subtitle}
						td.nsfw #{item.nsfw?"Yes":"No"}
						td.tags(title="#{item.tags}") #{item.tags}
						td.pph #{item.posts_per_hour}
						td.au #{item.active_users}
						td.pc #{item.post_count}
		- else
			h1 NO BOARDS FOUND
		+overnav
			
