extends layout

mixin overnav
	nav
		- if (curpage>2)
			a.home(href="/?"+(nsfw!="NULL"?"nsfw="+nsfw:"")+(tags?"&tags="+tags:""))= __('First')
		- if (curpage>1)
			a.prev(href="/?page="+(curpage-1)+(nsfw!="NULL"?"&nsfw="+nsfw:"")+(tags?"&tags="+tags:""))= __('Prev')
		- if (curpage>2)
			a.home(href="/")= __('Home')
		- if ((curpage-1)*50+data.length<totalboards)
			a.next(href="/?page="+(curpage+1)+(nsfw!="NULL"?"&nsfw="+nsfw:"")+(tags?"&tags="+tags:""))= __('Next')
		- if (totalboards > 0)
			aside= __('%0-%1 of %2 matching boards found', (curpage-1)*50+1, (curpage-1)*50+data.length, totalboards)

block head
	+style('overboard.css')

block header
	h1= SITE.name
	
block footer
	div.h4 Footer Placeholder

block main
	div#tags
		form#tagsearch(method="GET",action="")
			label
				h2 Tag Search
				input(type="text",name="tags",list="taglist",placeholder="search,+tags,-here",pattern="^ *[+-]?[a-zA-Z0-9_]+ *(?:, *[+-]?[a-zA-Z0-9_]+ *)*$",value=tags||'',autocomplete="off")
			div 
				label= __('Default')
					input(type="radio",name="nsfw",value="NULL",checked=(nsfw==="NULL"))
				label(aria-label=__("Safe For Work")) SFW
					input(type="radio",name="nsfw",value="FALSE",checked=(nsfw==="FALSE"))
				label(aria-label=__('Not Safe For Work')) NSFW
					input(type="radio",name="nsfw",value="TRUE",checked=(nsfw==="TRUE"))
			input(type="submit",value="Search", aria-label="Search Tags")
			datalist#taglist
				- var i = -1 
				- while (++i < taglist.length)
					option(value=taglist[i].tag)
		fieldset#cloud
			legend: h3= __('Popular Tags')
			ul
				- var i = -1 
				- while (++i < cloud.length)
					li
						- if (i<1)
							a.h2(href="/?tags="+cloud[i].tag, aria-label=__("Board tags search %%",cloud[i].tag))= cloud[i].tag
						- else if (i<cloud.length/3)
							a.h3(href="/?tags="+cloud[i].tag, aria-label=__("Board tags search %%",cloud[i].tag))= cloud[i].tag
						- else if (i<cloud.length/2)
							a.h4(href="/?tags="+cloud[i].tag, aria-label=__("Board tags search %%",cloud[i].tag))= cloud[i].tag
						- else 
							a.h5(href="/?tags="+cloud[i].tag, aria-label=__("Board tags search %%",cloud[i].tag))= cloud[i].tag
	div#boardlist
		+overnav
		- if (data.length)
			table
				thead
					th= __('Board')
					th= __('Title')
					th= __('Description')
					th: a(title=__("Not Safe For Work"),aria-label=__("Not Safe For Work")) NSFW
					th= __('Tags')
					th: a(title=__("Posts Per Hour"),aria-label=__("Posts Per Hour")) PPH
					th: a(title=__("Active Users"),aria-label=__("Active Users")) AU
					th: a(title=__("Post Count"),aria-label=__("Post Count")) PC
				tbody
					each item in data 
						tr
							td.board
								a(href="/"+item.board+"/",aria-label=item.title)= item.board
							td.title= item.title
							td.desc= item.subtitle
							td.nsfw= __(item.nsfw?"Yes":"No")
							td.tags(title=item.tags.join(', '))= item.tags.join(', ')
							td.pph= item.posts_per_hour
							td.au= item.active_users
							td.pc= item.post_count
		- else 
			h2.h1= __('NO BOARDS FOUND')
		+overnav
			
