extends layout

block head
	+style('pages.css')

block header
	- if (page.type == 'custom')
		h1.frontandcenter= data.title
		div
			a.brick(href='/'+board.board+'/pages') Go to pages listing
			- if (managepages) 
				a.brick(href='/'+board.board+'/editPage/'+data.page) Edit this Page
	- else 
		h2.frontandcenter
			- if (managepages)
				a.brick(href='/'+board.board+'/editPage/') New Page
			- else 
				| Custom Board Pages

block content
	- if (page.type == 'custom')
		div.contain!= data.markup

	- else if (page.type == 'index')
		div.pages
			- if (data&&data.length)
				each page in data 
					fieldset.page.contentcollapse
						legend 
							a(href='/'+board.board+'/'+page.page) /#{board.board}/#{page.page}
							- if (managepages)
								|&nbsp;-&nbsp;
								a.brick(href='/'+board.board+'/editPage/'+page.page) Edit Page
						h1= page.title
						- if (managepages)
							div._error Type the name of the role to confirm deletion.
							form.contentcollapse(method="POST",action='/'+board.board+'/deletePage/'+page.page,enctype="application/x-www-form-urlencoded")
								+CSRF
								input(type="text",name="verify",placeholder=page.page)
								input(type="submit",value="Delete Page")
			- else 
				h1.frontandcenter No custom pages have been created for this board.