extends layout

mixin actions(board,post,ip)
	details.postactions
		summary
		form(id="postactions_"+post, method="POST", target="_blank")
			+CSRF
			ul
				li: button.aslink(formaction="/"+board+"/report/"+post) Report
				- if (user.auth('post.delete')||user.ip == ip)
					li: button.aslink(formaction="/"+board+"/delete/"+post) Delete
				- if (user.auth('post.ban'))
					li: button.aslink(formaction="/"+board+"/ban/"+post) Ban
				- if (user.auth(['post.ban','post.delete']))
					li: button.aslink(formaction="/"+board+"/bnd/"+post) B&D
				
mixin mactions(m)
	- if (!m.nsfw && (user.auth('post.media.spoiler')||user.ip == m.ip))
		div.spoilerimg.icon-cornerTL
			a.icon-mute(title="spoiler",href="/"+m.board+"/spoilerMedia/"+m.post+"/"+m.sort)
	- if (!m.deleted && (user.auth('post.media.delete')||user.ip == m.ip))
		div.deleteimg.icon-cornerBR
			a.icon-trashcan(title="delete",href="/"+m.board+"/deleteMedia/"+m.post+"/"+m.sort)

mixin mediaitem(m,ip)
	figure.item(class={[m.mediatype]:true,'deleted':!!m.deleted,'nsfw':!!m.nsfw})
		- if (m.mediatype == 'img') //- Raw image
			figcaption.meta
				a.url.brick(href=CDN+m.src,target="_blank",title=m.meta.title +"\n"+ (m.meta.all||[]).join(' - '))= m.meta.title
			- if (m.deleted)
				img.deleted(src=CDN+board.deletedimg,alt="Deleted")
			- else 
				div.filewrap
					a.file(href=CDN+m.src,target="_blank")
						- if (m.nsfw)
							img.nsfw(src=F_SPOILER(board,m.meta.dims), alt="Spoiler")
						img.thumb(src=CDN+m.thumb,alt="Thumbnail")
						img.full(data-src=CDN+m.src,alt="Original")
					+mactions(m)
		
		- else if (m.mediatype == 'you') //- Youtube
			figcaption.meta
				a.url.brick(href=m.href, target="_blank")= m.meta.title
				- if (m.meta.duration)
					span.duration= m.meta.duration
			- if (m.deleted)
				img.deleted(src=CDN+board.deletedimg, alt="Deleted")
			- else 
				div.filewrap
					a.file(href=m.href, target="_blank")
						- if (m.nsfw)
							img.nsfw(src=F_SPOILER(board,m.meta.dims), alt="Spoiler")
						img.thumb(src=m.thumb, alt="Thumbnail")
						iframe.full(data-src=m.src, alt="Original")
					+mactions(m)

		//- - else if (m.mediatype == 'vid') //- Raw video
		
		//- - else if (m.mediatype == 'aud') //- Raw audio
		
		//- - else if (m.mediatype == 'dly') //- Dailymotion
		
		//- - else if (m.mediatype == 'snd') //- Soundcloud
		
		//- - else if (m.mediatype == 'voc') //- Vocaroo
		
		//- - else if (m.mediatype == 'liv') //- Livestream
		
		//- - else if (m.mediatype == 'twi') //- Twitch
		
		//- - else if (m.mediatype == 'box') //- Hitbox
		
		//- - else if (m.mediatype == 'ust') //- Ustream
		
		

mixin state(t)
	span.is
		- if (t.pinned)
			span.pinned
		- else if (t.sticky)
			span.sticky
		- if (t.locked)
			span.locked
		- else if (t.cycle)
			span.cycle
		- if (t.nsfw)
			span.nsfw
			
mixin date_time(classes,val)
	time(class=classes,
		datetime=F_UTC(val,0),
		data-interval=F_TOINTERVAL(NOW - (new Date(val)).getTime()), 
		data-time=F_UTC(val,1)
	)= F_UTC(val,2)

block head
	+style('thread.css')
	+style('theme.css')
	+style('post.css')
	+style('newPost.css')
	+script('thread.js')
	
block header
	include partials/newPost
								
block main
	//- include ticker.pug
	- var i = -1
	- if (data.length == 0)
		- if (page.type == 'thread')
			h1 No posts have been made.
		- else 
			h1 No threads have been made.
	- while (++i < data.length)                         
		- if (data[i].post == data[i].thread)
			article.thread.post.op(id='_'+data[i].post)
				header.info
					- if (data[i].email !== null)
						a.name(href="mailto:"+data[i].email)= data[i].name||board.noname
					- else 
						span.name= data[i].name||board.noname
					- if (data[i].trip !== null)
						span.trip= data[i].trip
					- if (data[i].capcode !== null)
						span.capcode= data[i].capcode
					- if (data[i].subject !== null)
						span.subject= data[i].subject
					- if (user.auth('board.view.ip'))
						a.ip.brick(href="/"+board.board+"/history/"+data[i].longhash)= data[i].ip
					- else if (user.auth('board.view.ipmask'))
						a.ip.brick(href="/"+board.board+"/history/"+data[i].longhash)= data[i].mask
					- else if (user.auth('board.view.iphash'))
						a.ip.brick(href="/"+board.board+"/history/"+data[i].longhash)= data[i].longhash.substr(0,16)
					+date_time('stamp', data[i].posted)
					- if (board.postids)
						span.postid= F_POSTID(data[i].ip,data[i].board,data[i].thread)
					//- Move the onclick to a clientside script
					a.quote(href=(page.type=='index'?"/"+board.board+"/"+data[i].thread+"#_"+data[i].post:"#_"+data[i].post), onclick="if('"+page.type+"'=='thread')return quotePost("+data[i].post+"),false;")= data[i].post
					+state(data[i])
					+actions(board.board,data[i].post,data[i].ip)
					span.cited
						- if (data[i].targets !== null)
							each t in data[i].targets 
								cite: a(href="#_"+t.post)
				div.media(class=(data[i].media === null ? 'none' : data[i].media.length > 1 ? 'many' : data[i].media.length == 1 ? 'one' : 'none'))
					- if (data[i].media !== null) 
						each m in data[i].media 
							+mediaitem(m,data[i].ip)
				span.content!= data[i].markup
				- if (data[i].banned !== null)
					div.banned= data[i].banned
				- if (board.publicedits && data[i].edited !== null)
					+date_time('edited', data[i].edited)
				- if (data[i].globalstamp !== null)
					+date_time('clean global', data[i].globalstamp)
				- else if (data[i].localstamp !== null)
					+date_time('clean local', data[i].localstamp)
				- if (page.type == 'index' && data[i].total - data[i].visible > 0)
					i There are #{data[i].total - data[i].visible} hidden posts. Click&nbsp;
						a(href="/"+board.board+"/"+data[i].thread) HERE
						| &nbsp;to view.
				- while (data[i+1] && data[i+1].post != data[i+1].thread && ++i)
					//- split off into a separate include
					
					article.post.reply(id='_'+data[i].post)
						header.info
							- if (data[i].email !== null)
								a.name(href="mailto:"+data[i].email): span.name= data[i].name||board.noname
							- else 
								span.name= data[i].name||board.noname
							- if (data[i].trip !== null)
								span.trip= data[i].trip
							- if (data[i].capcode !== null)
								span.capcode= data[i].capcode
							- if (data[i].subject !== null)
								span.subject= data[i].subject
							- if (user.auth('board.view.ip'))
								a.ip.brick(href="/"+board.board+"/history/"+data[i].longhash)= data[i].ip
							- else if (user.auth('board.view.ipmask'))
								a.ip.brick(href="/"+board.board+"/history/"+data[i].longhash)= data[i].mask
							- else if (user.auth('board.view.iphash'))
								a.ip.brick(href="/"+board.board+"/history/"+data[i].longhash)= data[i].longhash.substr(0,16)
							+date_time('stamp', data[i].posted)
							- if (board.postids)
								span.postid= F_POSTID(data[i].ip,data[i].board,data[i].thread)
							//- Move the onclick to a clientside script
							a.quote(href=(page.type=='index'?"/"+board.board+"/"+data[i].thread+"#_"+data[i].post:"#_"+data[i].post), onclick="if('"+page.type+"'=='thread')return quotePost('"+data[i].post+"'),false;")= data[i].post
							+actions(board.board,data[i].post,data[i].ip)
							span.cited
								- if (data[i].targets !== null)
									each t in data[i].targets 
										cite: a(href="#_"+t.post) >>#{t.post}
						div.media(class=(data[i].media === null ? 'none' : data[i].media.length > 1 ? 'many' : data[i].media.length == 1 ? 'one' : 'none'))
							- if (data[i].media !== null)
								each m in data[i].media
									+mediaitem(m,data[i].ip)
						span.content!= data[i].markup
						- if (data[i].banned !== null)
							div.banned= data[i].banned
						- if (board.publicedits && data[i].edited !== null)
							+date_time('edited', data[i].edited)
						- if (data[i].globalstamp !== null)
							+date_time('clean global', data[i].globalstamp)
						- else if (data[i].localstamp !== null)
							+date_time('clean local', data[i].localstamp)
block nav
	- if (page.type == 'thread')
		span.quicklinks
			a.index.brick(href="/"+board.board+"/") Index
			a.catalog.brick(href="/"+board.board+"/catalog", target="_blank") Catalog
			a.to.brick(href="#top") Top
			a.update.brick(href="/"+board.board+"/"+data[0].thread+"#bottom") Update
		span.stats
			- if (data[0].featured)
				span.is-featured Featured
			- if (data[0].pinned)
				span.is-pinned Pinned
			- else if (data[0].sticky)
				span.is-sticky Sticky
			- if (data[0].locked)
				span.is-locked Locked
			- else if (data[0].cycle)
				span.is-cycle Cycle
			- if (data[0].nsfw)
				span.is-nsfw NSFW
			span.replies= data.length-1
			span.images
				= data.reduce((a,b)=>{return a+(b.media===null?0:b.media.length);},0)
			span.posters
				= data.reduce((a,b)=>{if(a.indexOf(b.ip)==-1)a.push(b.ip);return a;},[]).length
			span.page !{data[0].page}
	- else if (page.type == 'index')
		- if (page.param == 'index')
			span.quicklinks
				a.catalog.brick(href="/"+board.board+"/catalog") Catalog
				a.archive.brick(href="/"+board.board+"/archive") Archive
			if (data.length)
				span.pages
					- var i = 0
					- while (++i <= data[0].pages)
						span: a(href=(i!=curpage)?"/"+board.board+"/?page="+(i):false) !{i}
		- else if (page.param == 'archive')
			span.quicklinks
				a.index.brick(href="/"+board.board+"/") Index
				a.catalog.brick(href="/"+board.board+"/catalog") Catalog
			if (data.length)
				span.pages
					- var i = 0
					- while (++i <= data[0].pages)
						span: a(href=(i!=curpage)?"/"+board.board+"/?page="+(i):false) !{i}
