extends layout

block head
	+style('thread.css')
	+style('theme.css')
	+script('thread.js')
	
block header
	include partials/newPost
								
block main
	//- include ticker.pug
	include partials/postContents
	- var i = -1
	- if (data.length == 0)
		- if (page.type == 'thread')
			h1 No posts have been made.
		- else if (page.type == 'archive')
			h1 There are no threads currently in the archive.
		- else 
			h1 No threads have been made.
	- while (++i < data.length)                         
		- if (data[i].post == data[i].thread)
			article.thread.post.op(id='_'+data[i].post)
				+postContents(data[i])
				- if (page.type == 'index' && data[i].total - data[i].visible > 0)
					i There are #{data[i].total - data[i].visible} hidden posts. Click&nbsp;
						a(href="/"+board.board+"/"+data[i].thread) HERE
						| &nbsp;to view.
				- if (!flatView)
					- while (data[i+1] && data[i+1].post != data[i+1].thread && ++i) 
						article.post.reply(id='_'+data[i].post)
							+postContents(data[i])
		- if (!!flatView)
			- i-- 
			- while (data[i+1] && data[i+1].post != data[i+1].thread && ++i) 
				article.post.reply(id='_'+data[i].post)
					+postContents(data[i])
block nav
	- if (page.type == 'thread')
		span.quicklinks
			a.index.brick(href="/"+board.board+"/") Index
			a.catalog.brick(href="/"+board.board+"/catalog", target="_blank") Catalog
			a.to.brick(href="#top") Top
			a.update.brick(href="/"+board.board+"/"+data[0].thread+"#bottom") Update
		span.stats
			- if (data[0].featured)
				span.is-featured Featured
			- if (data[0].pinned)
				span.is-pinned Pinned
			- else if (data[0].sticky)
				span.is-sticky Sticky
			- if (data[0].locked)
				span.is-locked Locked
			- else if (data[0].cycle)
				span.is-cycle Cycle
			- if (data[0].nsfw)
				span.is-nsfw NSFW
			span.replies= data.length-1
			span.images
				= data.reduce((a,b)=>{return a+(b.media===null?0:b.media.length);},0)
			span.posters
				= data.reduce((a,b)=>{if(a.indexOf(b.ip)==-1)a.push(b.ip);return a;},[]).length
			span.page !{data[0].page}
	- else if (page.type == 'index')
		span.quicklinks
			a.catalog.brick(href="/"+board.board+"/catalog") Catalog
			a.archive.brick(href="/"+board.board+"/archive") Archive
		if (data.length)
			span.pages
				- var i = 0
				- while (++i <= data[0].pages)
					span: a(href=(i!=curpage)?"/"+board.board+"/?page="+(i):false) !{i}
	- else if (page.type == 'archive')
		span.quicklinks
			a.index.brick(href="/"+board.board+"/") Index
			a.catalog.brick(href="/"+board.board+"/catalog") Catalog
		if (data.length)
			span.pages
				- var i = 0
				- while (++i <= data[0].pages)
					span: a(href=(i!=curpage)?"/"+board.board+"/?page="+(i):false) !{i}
