extends layout

mixin actions(board,post)
	label.menu
		input.toggle(type="checkbox")
		ul.postactions
			li: a(href="/#{board}/#{post}/report", target="_blank") Report
			- if (user.auth(board,'delete'))
				li: a(href="/#{board}/#{post}/delete", target="_blank") Delete
			- if (user.auth(board,'ban'))
				li: a(href="/#{board}/#{post}/ban", target="_blank") Ban
			- if (user.auth(board,['ban','delete']))
				li: a(href="/#{board}/#{post}/bnd", target="_blank") Ban & Delete
				
mixin mediaitem(m)
	div.item(class="#{m.mediatype}"+(m.deleted?' deleted':m.nsfw?' nsfw':''))
		- if (m.mediatype == 'img') //- Raw image
			span.meta
				a.file.brick(href="#{m.src}") #{m.meta.title}
				- if (m.meta.dims)
					span.dims #{m.meta.dims}
				- if (m.meta.dims && m.meta.size)
					| -
				- if (m.meta.size)
					span.size #{m.meta.size}
			- if (m.deleted)
				img.deleted(src="#{cdn}#{board.deletedimg}")
			- else
				a.file(href="#{cdn}#{m.src}", onclick="return toggleImage(this),false;", target="_blank")
					- if (m.nsfw)
						img.nsfw(src="#{cdn}#{board.spoilerimg}")
					img.thumb(src="#{cdn}#{m.thumb}")
					img.full(src="#{cdn}#{m.src}")
		//- - else if (m.mediatype == 'vid') //- Raw video
		//- - else if (m.mediatype == 'aud') //- Raw audio
		//- - else if (m.mediatype == 'you') //- Youtube
		//- - else if (m.mediatype == 'dly') //- Dailymotion
		//- - else if (m.mediatype == 'voc') //- Vocaroo
		//- - else if (m.mediatype == 'liv') //- Livestream
		//- - else if (m.mediatype == 'twi') //- Twitch
		//- - else if (m.mediatype == 'box') //- Hitbox
		//- - else if (m.mediatype == 'ust') //- Ustream
		
		- if (user.auth(board.board,'delete_media'))
			a.delete.brick(href="/#{m.board}/#{m.post}/delete/#{m.hash}")
		- if (!m.nsfw && user.auth(board.board,'spoiler_media'))
			a.spoiler.brick(href="/#{m.board}/#{m.post}/spoiler/#{m.hash}")

mixin state(t)
	span.is
		- if (t.pinned)
			span.pinned
		- else if (t.sticky)
			span.sticky
		- if (t.locked)
			span.locked
		- else if (t.cycle)
			span.cycle
		- if (t.nsfw)
			span.nsfw

block head
	- if (page.type == 'index')
		title /#{board.board}/ - #{sitename}
		meta(rel="description" content="/#{board.board}/ - #{board.title}: #{board.subtitle||''}")
	- else if (page.type == 'thread' || page.type == 'archive')
		title /#{board.board}/ - #{data[0].subject || title}
		meta(rel="description" content="")
	meta(rel="keywords" content="image,board,node,js,forum,imageboard,anonymous,/#{board.board}/")

append script
	script
		| window.PAGE = {};
		| window.PAGE.board = '#{board.board}';
		- if (page.type)
			| window.PAGE.type = '#{page.type}';
			- if (page.type != 'index') 
				| window.PAGE.current = '#{data[0].thread}';
			- else 
				| window.PAGE.current = 'index';
		
block header
	- if (page.type == 'archive')
		h1 Thread is archived.
		h3 Replies are disabled.
	- else
		input#showPostForm(type="checkbox" hidden=true)
		label.brick(for="showPostForm")
			h1 
				= (page.type=='index'?"New Thread":page.type=='thread'?"New Reply":"New Post")
		form#newpost(method="POST" enctype="multipart/form-data" action="")
			table
				tr: td Name
					td: input(name="name", type="text", placeholder="#{board.noname}")
				- if (board.emailsubmit)
					tr: td Email
						td: input(name="email", type="text", placeholder="or sage")
				tr: td Subject
					td
						input(name="subject", type="text")
						input(type="submit", value=(page.type=='index'?"New Thread":page.type=='thread'?"New Reply":"New Post"))
				tr: td Comment
					td: textarea(name="markdown", placeholder="Write your dank memes here.")
				tr: td Files
					td
						div.upload
							- var i = -1
							- while (++i < board.mediauploadlimit)
								div
									label NSFW
										input(type="checkbox", name="spoiler_media#{i}")
									input(type="file", name="media#{i}", accept="image/gif,image/png,image/jpg,video/*,audio*", placeholder="External Media")
			div.options
block content
	- var i = -1
	- while (++i >= 0 && i < data.length)
		- if (data[i].post == data[i].thread)
			div.thread.post.op(id="#{data[i].post}")
				div.info
					- if (data[i].email !== null)
						a.name(href="mailto:#{data[i].email}"): span.name #{data[i].name}
					- else
						span.name #{data[i].name}
					- if (data[i].trip !== null)
						span.trip #{data[i].trip}
					- if (data[i].capcode !== null)
						span.capcode #{data[i].capcode}
					- if (data[i].subject !== null)
						span.subject #{data[i].subject}
					- if (user.auth(board.board,{view:'ip'}))
						a.ip.brick(href="/#{board.board}/history/#{data[i].longhash}") #{data[i].ip}
					- else if (user.auth(board,{view:'ipmask'}))
						a.ip.brick(href="/#{board.board}/history/#{data[i].longhash}") #{data[i].ipmask}
					- else if (user.auth(board,{view:'iphash'}))
						a.ip.brick(href="/#{board.board}/history/#{data[i].longhash}") #{data[i].shorthash}
					span.timestamp #{data[i].posted}
					a.quote(href=(page.type=='index'?"/#{board.board}/#{data[i].thread}##{data[i].post}":"##{data[i].post}"), onclick="if('#{page.type}'=='thread')return quotePost(#{data[i].post}),false;") #{data[i].post}
					+state(data[i])
					+actions(board.board,data[i].post)
					span.cited
						- if (data[i].targets !== null)
							- each t in data[i].targets
								a.cite(href="##{t.post}")
				div.media(class=(data[i].media === null ? 'none' : data[i].media.length > 1 ? 'many' : data[i].media.length == 1 ? 'one' : 'none'))
					- if (data[i].media !== null)
						- each m in data[i].media
							+mediaitem(m)
				span.content !{data[i].markdown}
				- if (data[i].banned !== null)
					div.banned #{data[i].banned}
				- if (data[i].globalstamp !== null)
					div.clean Global moderators have deemed this post as acceptable: (#{data[i].globalstamp})
				- else if (data[i].localstamp !== null)
					div.clean Board managers have deemed this post as acceptable: (#{data[i].localstamp})
				- if (page.type == 'index' && data[i].total - data[i].visible > 0)
					i There are #{data[i].total - data[i].visible} hidden posts. Click
						a(href="/#{board.board}/#{data[i].thread}") HERE
						| to view.
				- while (data[i+1] && data[i+1].post != data[i+1].thread && ++i)
					div.post.reply(id="#{data[i].post}")
						div.info
							- if (data[i].email !== null)
								a.name(href="mailto:#{data[i].email}"): span.name #{data[i].name}
							- else
								span.name #{data[i].name}
							- if (data[i].trip !== null)
								span.trip #{data[i].trip}
							- if (data[i].capcode !== null)
								span.capcode #{data[i].capcode}
							- if (data[i].subject !== null)
								span.subject #{data[i].subject}
							- if (user.auth(board.board,{view:'ip'}))
								a.ip.brick(href="/#{board.board}/history/#{data[i].longhash}") #{data[i].ip}
							- else if (user.auth(board.board,{view:'ipmask'}))
								a.ip.brick(href="/#{board.board}/history/#{data[i].longhash}") #{data[i].ipmask}
							- else if (user.auth(board.board,{view:'iphash'}))
								a.ip.brick(href="/#{board.board}/history/#{data[i].longhash}") #{data[i].shorthash}
							span.timestamp #{data[i].posted}
							a.quote(href=(page.type=='index'?"/#{board.board}/#{data[i].thread}##{data[i].post}":"##{data[i].post}"), onclick="if('#{page.type}'=='thread')return quotePost(#{data[i].post}),false;") #{data[i].post}
							+actions(board.board,data[i].post)
							span.cited
								- if (data[i].targets !== null)
									- each t in data[i].targets
										a.cite(href="##{t.post}")
						div.media(class=(data[i].media === null ? 'none' : data[i].media.length > 1 ? 'many' : data[i].media.length == 1 ? 'one' : 'none'))
							- if (data[i].media !== null)
								- each m in data[i].media
									+mediaitem(m)
						span.content !{data[i].markdown}
						- if (data[i].banned !== null)
							div.banned #{data[i].banned}
						- if (data[i].globalstamp !== null)
							div.clean Global moderators have deemed this post as acceptable: (#{data[i].globalstamp})
						- else if (data[i].localstamp !== null)
							div.clean Board managers have deemed this post as acceptable: (#{data[i].localstamp})
block nav
	nav
		- if (page.type == 'thread')
			span.quicklinks
				a.index.brick(href="/#{board.board}/") Index
				a.catalog.brick(href="/#{board.board}/catalog", target="_blank") Catalog
				a.top.brick(href="#top") Top
				a.update.brick(href="/#{board.board}/#{page.param}#bottom", onclick="return updateThread(#{page.param}),false;") Update
			span.stats
				- if (data[0].pinned)
					span.is-pinned Pinned
				- else if (data[0].sticky)
					span.is-sticky Sticky
				- if (data[0].locked)
					span.is-locked Locked
				- else if (data[0].cycle)
					span.is-cycle Cycle
				- if (data[0].nsfw)
					span.is-nsfw NSFW
				span.replies #{data.length-1}
				span.images
					= data.reduce((a,b)=>{return a+(b.media===null?0:b.media.length);},0)
				span.posters
					= data.reduce((a,b)=>{if(a.indexOf(b.ip)==-1)a.push(b.ip);return a;},[]).length
				span.page #{data[0].page}
		- else if (page.type == 'index')
			span.quicklinks
				a.catalog.brick(href="/#{board.board}/catalog", target="_blank") Catalog
				a.archive.brick(href="/#{board.board}/archive", target="_blank") Archive
		- else if (page.type == 'archive')
			span.quicklinks
				a.index.brick(href="/#{board.board}/") Index
				a.catalog.brick(href="/#{board.board}/catalog", target="_blank") Catalog
				a.archive.brick(href="/#{board.board}/archive", target="_blank") Archive


