extends layout

block header
	h1 #{SITE.name} Moderation Page
	h3 Welcome #{user.screenname}
	a(href="/_/createBoard") Create a board
	
block head
	+style('underboard.css')

block main
	- if (data.length == 0)
		h4 Create a board or get added to an existing one.
	- else 
		table
			tr
				th Board
				th Role
				th Capcode
				th Actions
			- each item in data 
				tr
					td
						a(href="/"+item.board+"/") /#{item.board}/
					td #{item.role}
					td ###{item.capcode}
					td
						- if (user.auth('board.manage.logs!any',item.board))
							a.action(href="/"+item.board+"/logs") Logs
						- if (user.auth('board.manage.reports',item.board))
							a.action(href="/"+item.board+"/reports") Reports
						- if (user.auth('board.manage.history',item.board))
							a.action(href="/"+item.board+"/history") Recent Posts
						- if (user.auth('board.manage.bans',item.board))
							a.action(href="/"+item.board+"/bans") Bans
						- if (user.auth('board.manage.pages',item.board))
							a.action(href="/"+item.board+"/pages") Custom Pages
						- if (user.auth('board.manage.settings',item.board))
							a.action(href="/"+item.board+"/settings") Settings
						- if (user.auth('board.manage.roles',item.board))
							a.action(href="/"+item.board+"/roles") Roles
			
	