extends layout

block header
	h1= __('%% Moderation Page',SITE.name)
	h3= __('Welcome %%',user.screenname)
	a(href="/_/createBoard")= __('Create a board')
	
block head
	+style('underboard.css')

block main
	- if (data.length == 0)
		h4 = __('Create a board or get added to an existing one.')
	- else 
		table
			tr
				th= __('Board')
				th= __('Role')
				th= __('Capcode')
				th = __('Actions')
			each item in data 
				tr
					td
						a(href="/"+item.board+"/") /#{item.board}/
					td #{item.role}
					td ###{item.capcode}
					td
						- if (user.auth('board.logs',item.board))
							a.action(href="/"+item.board+"/logs")= __('Logs')
						- if (user.auth('board.manage.reports',item.board))
							a.action(href="/"+item.board+"/reports")= __('Reports')
						- if (user.auth('board.manage.history',item.board))
							a.action(href="/"+item.board+"/history")= __('Recent Posts')
						- if (user.auth('board.manage.bans',item.board))
							a.action(href="/"+item.board+"/bans")= __('Bans')
						- if (user.auth('board.manage.pages',item.board))
							a.action(href="/"+item.board+"/pages")= __('Custom Pages')
						- if (user.auth('board.settings',item.board))
							a.action(href="/"+item.board+"/settings")= __('Settings')
						- if (user.auth('board.manage.roles',item.board))
							a.action(href="/"+item.board+"/roles")= __('Roles')
			
	